### Build output ###
target/              # Output della compilazione di Maven
build/               # Output della compilazione per altri strumenti
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
*.log                # File di log generici
.mvn/wrapper/        # Cartella del wrapper Maven, può essere esclusa
!.mvn/wrapper/maven-wrapper.jar # Manteniamo solo il jar del wrapper

### IntelliJ IDEA ###
.idea/               # Configurazioni di IntelliJ (proprietarie, non necessarie)
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws                # File di sessione
*.iml                # File progetto IntelliJ
*.ipr                # File progetto IntelliJ (versioni più vecchie)

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
.nb-gradle/
nbbuild/
dist/
nbdist/

### VS Code ###
.vscode/

### File di sistema ###
.DS_Store            # MacOS
Thumbs.db            # Windows

### Git ###
.vcs.xml             # File di IntelliJ legato al controllo di versione
